








body {
	background: #fff url(/images/logo_with_bolt.png) no-repeat left top;
	min-height: 100%;
}




#content_container {
	padding-left: 320px;
	padding-top: 180px;
}


input {
	width: 200px;
}
input.wide {
	width: 350px;
}

#query_table tr th {
	font-weight: bold;
}

#query_table td, #query_table th {
	border-bottom: 1px solid #c0c0c0;
	padding: 8px;
}
#query_table td:first-child,
#query_table th:first-child {
	border-left: 1px solid #c0c0c0;
}
#query_table td:last-child,
#query_table th:last-child {
	border-right: 1px solid #c0c0c0;
}

#query_table tr:first-child th {
	border-top: 1px solid #c0c0c0;
}
#query_table tr:first-child th:first-child {
	-webkit-border-top-left-radius: 6px;
}
#query_table tr:first-child th:last-child {
	-webkit-border-top-right-radius: 6px;
}
#query_table tr:last-child td:first-child {
	-webkit-border-bottom-left-radius: 6px;
}
#query_table tr:last-child td:last-child {
	-webkit-border-bottom-right-radius: 6px;
}
#query_table td {
	
}


.remove span {
	display: none;
}
.remove {
	display: block;
	width: 14px;
	height: 14px;
	background: transparent url(/images/x.png) no-repeat left top;
}







.not_editing input[type=text] {
	border-color: transparent;
	background: none;
}
.not_editing:hover td {
	background-color: #f0f0f0;
}
.not_editing input[type=text]:hover,
.not_editing input[type=password]:hover {
	-webkit-box-shadow: none;
}

.editing td {
  /*background-color: blue;*/
	background-color: #f0f0f0;
}












